.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 1024px;
}

h1,
h2,
p,
span {
    width: 100%
}

.center {
    color: #00bfd8;
}

.input-field {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    flex: 1;
}

.input-field input {
    font-weight: bold;
}

.info {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 40px;
}

.combustivel {
    color: #00bfd8;
    font-weight: bold;
    font-size: 20px;
}

.vantajoso {
    font-weight: normal;
    color: black;
    line-height: 36px;
    font-size: 16px;
}